.assignment {
    height: 100vh;
    margin: 0;
    display: grid;
    justify-items: center;
    grid-gap: 25px;
    grid-template-columns: 9, 1fr;
    grid-template-rows:150px 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-areas: "q y . . . . . . ."
                         ". . . t t t . . ."
                         ". . . . . . . . ."
                         ". d . . . . . . ."
                         ". e . a b c . . ."
                         ". f . g h j . . ." 
                         ". k . . . . . . ."                                                     
                         ". l . . . . . . ."
                         ". m . . . . . . ."
}